body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none;    
   -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;}
a,a:active,a:focus,a:hover,button:focus {
	outline:0;
	border:0;
	background:0;
	text-decoration:none;
}
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.left{ display:inline; float:left;}
.right{ display:inline; float:right;}
.clear{clear:both}
@charset "utf-8";

header,
#main,
footer,
nav,
.zn_footer1,
.zn_footer3{
	width: 100%;
}

.zncenter{ width: 1170px;margin: 0 auto;padding-right: 15px;padding-left: 15px;}
header{ height: 136px;}
/*顶部*/
.zntop{width: 100%; height: 40px;background: #2c2c2c;}
.zntop_main{position: relative;height: 40px;}
.zntop_main .zntop_mainleft{width:212px; height:20px;padding: 0 25px;background: url(../image/h-1.png) 0 50% no-repeat;color: #ccc;font-size: 14px;cursor: default;margin-top: 10px;}
.zntop_main .zntop_mainleft a{color: #ccc;font-size: 14px;}
.zntop_main .zntop_mainleft:nth-child(2){background: url(../image/h-2.png) 0 50% no-repeat;}
.zntop_main .zntop_mainright1{color: #999 !important;font-size: 14px;cursor: default;margin-top: 10px;}
.zntop_main .zntop_mainright1 a{color:#999}
.zntop_main .zntop_mainright2{padding: 0 25px;background: url(../image/h-4.png) 0 -9px no-repeat;color: #fff;font-size: 16px;margin-top: 9px;cursor: default;}
.zntop_main .zntop_mainright2:last-child {background: url(../image/h-3.png) 0 -9px no-repeat;}
/*导航条*/
nav{overflow: hidden;margin: 0;height: 96px;border: 0;border-bottom: 1px solid #e1e1e1;background:#fff ;}
nav>div{height:96px}
.navbar-default{border: 0px; background: #fff;}
.navbar-header{position: relative;margin-top: 25px;width: 349px;height: 41px;background: url(../image/logo.png) 0 50% no-repeat;}
#znnav{height: 96px;line-height: 64px;margin-right: 0px;padding-right: 0px;}
#znnav li a{height: 96px;line-height: 64px;margin-right: 30px;padding: 0;font-size: 14px;line-height: 96px;}
#znnav li a:hover{border-bottom:3px solid #0084ce;}
#znnav li span{width: 110px;height: 43px;display:inline-block;margin-top: 25px;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;line-height: 43px;background: #0084ce;color: #fff;border: 1px solid #0084ce;white-space: nowrap;font-size: 18px;cursor: pointer;text-align: center; transition:all .3s ease-in-out;}
#znnav li span:hover{background:#fff ;color: #0084ce;}
/*吸顶样式*/
.nav_scroll{width:100%;position: fixed; top: 0;z-index: 999;}

/*底部*/
footer{height: 470px;}
.zn_footer1{position:relative;height: 69px;background-color: rgba(0,0,0,.7);color: #fff;text-align:left;font-size: 22px;}
.zn_footer_form div{float: left;}
.zn_footer_form div:first-child{padding-right: 0;width: 13%;margin: 18px 0;}
.zn_footer_form .zn_input3{padding-left: 0;width: 23.333%;padding-right: 15px;}
.zn_footer_form .zn_input3 input{width: 260px;margin: 10px 0;padding-left: 20px;height: 49px;outline: transparent dotted;border: 0;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;background: #fff;color: #444;font-size: 14px;line-height: 49px;}
.zn_footer_form .zn_input2{width: 16.66666667%;}
.zn_footer_form .zn_input2 a{ display: inline-block;width: 175px;margin: 10px 0;height: 49px;line-height: 49px;    background: #0084ce;color: #fff;border: 1px solid #0084ce;-webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;white-space: nowrap;font-size: 18px;cursor: pointer;text-align: center;}
.zn_footer_form .zn_input2 a:hover{background: 0;color:#0084ce;transition:all .3s ease-in-out;}
/*吸底样式*/
.footer_scroll{position: fixed; bottom: 0;z-index: 999;}

.zn_footer2{width:calc(100%-166px);height:336px;padding: 83px;background-image:url(../image/bg10.jpg)}
.zn_footer2>div{height: 170px;}
.zn_footer2 .zn_footer2_ul ul{float:left;height: 120px;border-left: 1px solid #000;color: #333;font-size: 14px;text-align: left;}
.zn_footer2 .zn_footer2_ul ul ul:first-child{border-left:0px;}
.zn_footer2 .zn_footer2_ul ul li{padding: 0px 40px;line-height: 29px;}
.zn_footer2 .zn_footer2_ul a{color: #878787;transition: all .3s ease-in-out;}
.zn_footer2 .zn_footer2_ul a:hover{color: #fff;}
.zn_footer2 .zn_footer2_ul .a-ewm{display: inline-block;}
.zn_footer2 .zn_footer2_ul .a-ewm1{margin: 0 30px 0 0;text-align: center;}
.zn_footer2 .zn_footer2_ul .a-ewm i{display: block;margin-bottom: 10px;width: 141px;height: 140px;background:  url(../image/ewm1.jpg);background-size: 100%;}
.zn_footer2 .zn_footer2_ul .a-ewm2 i{display: block;margin-bottom: 10px;width: 141px;height: 140px;background:url(../image/ewm2.jpg);background-size: 100%;}

.zn_footer3{height: 65px;background-color: #181818;color: #7b7b7b;text-align: left;font-size: 13px;line-height: 65px;}
.zn_footer3>div{height: 65px;}
.zn_footer3 .span-l {float: left;display: inline-block;padding-top: 12px;line-height: 20px;}
.zn_footer3 .f-right{float: right;}
.zn_footer3 .f-right span {margin-right: 5px;text-align: left;}
.zn_footer3 .f-right span a{color: #7b7b7b;}
.zn_footer3 .f-right span a>i{display: inline-block;margin: 0 5px -8px 0;width: 30px;height: 30px;background:url(../image/f-icon.png) no-repeat;}
.zn_footer3 .f-right span:nth-child(2) a i{width: 26px;background-position: -30px 0;}
.zn_footer3 .f-right span:nth-child(3) a i{width: 28px;background-position: -55px 0;}
.zn_footer3 .f-right span:nth-child(4) a i{width: 28px;background-position: -87px 0;}

/*返回顶部*/
.znreturn{position: fixed; bottom:180px;right:5px;z-index:999;width: 56px; height: 71px; }
.znreturn ul li a{
	width: 56px;
    height: 56px;
    position: relative;
    display: block;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
}
.znreturn ul li:nth-child(1) a{background:url(../image/1.png);}
.znreturn ul li:nth-child(1) a:hover{background: url(../image/1-1.png);}
.znreturn ul li:nth-child(2) a{background: url(../image/2.png);}
.znreturn ul li:nth-child(2) a:hover{background: url(../image/2-2.png);}
.znreturn ul li:nth-child(3) a{background: url(../image/3.png);}
.znreturn ul li:nth-child(3) a:hover{background: url(../image/3-3.png);}
