header {
	height: 136px;
}

header,
#main,
.zn,
.wjh1,
.wjh2,
.xxk1,
.xxk2,
.llh,
.wll1,
.wll2,
footer,
nav,
.zntibu,
.zn_footer1,
.zn_footer3 {
	width: 100%;
}

#main {
	height: 5852px;
}


/*主题内容*/

#main {
	height: 5852px;
}


/*banner*/

.zn {
	height: 650px;
}

.slider,
.slider-panel,
.slider-extra {
	width: 100%;
	height: 650px;
}

.slider {
	text-align: center;
	position: relative;
}

.slider-panel,
.slider-nav,
.slider-pre,
.slider-next {
	position: absolute;
	z-index: 8;
}

.slider-panel {
	position: absolute;
}

.slider .slider-panel:nth-child(1) {
	background: url(../image/bg1-0.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider .slider-panel:nth-child(2) {
	background: url(../image/bg1-1.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider .slider-panel:nth-child(3) {
	background: url(../image/bg1-2.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider .slider-panel:nth-child(4) {
	background: url(../image/bg1-3.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider .slider-panel:nth-child(5) {
	background: url(../image/bg1-4.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider .slider-panel .zn_jy {
	text-align: left;
}

.slider .slider-panel h1 {
	padding: 95px 0 25px;
	color: #333;
	text-align: left;
	font-weight: 700;
	font-size: 60px;
	line-height: 69px;
}

.slider .slider-panel .znline {
	display: block;
	width: 41px;
	height: 3px;
	background: #0084ce;
	margin-bottom: 10px;
}

.slider .slider-panel .znsx {
	visibility: visible;
	animation-delay: 0.5s;
	animation-name: fadeInRight;
	color: #666;
	font-size: 20px;
	line-height: 32px;
	text-align: left;
}

.slider .slider-panel .znljgd {
	display: inline-block;
	margin: 50px 32px 0 0;
	margin-bottom: 0;
	width: 142px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #0084ce;
	background: #0084ce;
	color: #fff;
	border-radius: 35px;
	white-space: nowrap;
	font-size: 18px;
	text-align: center;
}

.slider .slider-panel .znljgd1 {
	background: #fff;
	color: #0084ce;
}

.slider-panel img {
	border: none;
}

.slider-extra {
	position: relative;
}

.slider-nav {
	margin-left: -51px;
	position: absolute;
	left: 50%;
	bottom: 4px;
}

.slider-nav li {
	background: rgba(201, 209, 214, .8);
	border-radius: 50%;
	cursor: pointer;
	margin: 0 2px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	height: 11px;
	width: 11px;
}

.slider-nav .slider-item-selected {
	background: rgba(0, 132, 206, .9);
}

.slider-page {
	transition: all .3s ease-in-out;
}

.slider-page a {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);
	color: #333;
	text-align: center;
	display: block;
	font-family: "simsun";
	font-size: 50px;
	font-weight: 700;
	width: 28px;
	height: 62px;
	line-height: 62px;
	margin-top: -31px;
	position: absolute;
	top: 50%;
	display: block;
}

.slider-page a:HOVER {
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
}

.slider-pre {
	margin-left: 2%;
}

.slider-next {
	left: 94%;
	margin-left: 2%;
}

.wjh1 {
	height: 809px;
}

.wjh2 {
	height: 590px;
}

header,
#main,
.zn,
.wjh1,
.wjh2,
.xxk1,
.xxk2,
.llh,
.wll1,
.wll2,
footer {
	width: 100%;
}

header {
	height: 136px;
}

#main {
	height: 5852px;position: relative;
}

.zn {
	height: 650px;
}

#main .wjh1 {
	background-color: #ebebeb;
	overflow: hidden;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#section h2 {
	padding: 60px 0 20px;
	font-size: 44px;
	line-height: 1;
}

#section h2,
a {
	text-align: center;
}

#section .s-line {
	margin-bottom: 53px;
}

.s-line {
	width: 41px;
	height: 3px;
	background: #0084ce;
	display: inline-block;
}

#main .wjh1 .s3-a,
#main .wjh1 .s3-a span:first-child {
	position: relative;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

#main .wjh1 .s3-a {
	z-index: 2;
	display: block;
	overflow: hidden;
	width: 335px;
	height: 398px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: transparent;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

#main .wjh1,
#main-c .section2 {
	background-color: #ebebeb
}

#main .wjh1 .s3-a,
#main-c .section2 .s3-a {
	z-index: 2;
	display: block;
	overflow: hidden;
	width: 335px;
	height: 398px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: transparent;
	-ms-border-radius: 5px;
	-o-border-radius: 5px
}

#main .wjh1 .s3-a span,
#main-c .section2 .s3-a span {
	background-color: #fff
}

#main .wjh1 .s3-a span,
#main .wjh1 .s3-a span i,
#main-c .section2 .s3-a span,
#main-c .section2 .s3-a span i {
	display: block;
	padding: 30px;
	width: 335px;
	height: 176px;
	color: #7b7b7b;
	font-size: 14px;
	line-height: 25px
}

#main .wjh1 .s3-a span:first-child,
#main .wjh1 .s3-a span:first-child i,
#main-c .section2 .s3-a span:first-child,
#main-c .section2 .s3-a span:first-child i {
	padding: 0;
	height: 222px
}

#main .wjh1 .s3-a .i-bg,
#main .wjh1 .s3-a .i-bg,
#main-c .section2 .s3-a .i-bg,
#main-c .section2 .s3-a .i-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	filter: alpha(opacity=0);
	-ms-transition: all .3s ease
}

#main .wjh1.s3-a,
#main .wjh1 .s3-a span:first-child,
#main-c .section2 .s3-a,
#main-c .section2 .s3-a span:first-child {
	position: relative;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat
}

#main .wjh1 .s3-a1 span:first-child,
#main-c .section2 .s3-a1 span:first-child {
	background-image: url(../image/s3-p1.jpg)
}

#main .wjh1 .s3-a2 span:first-child,
#main-c .section2 .s3-a2 span:first-child {
	background-image: url(../image/s3-p2.jpg)
}

#main .wjh1 .s3-a3 span:first-child,
#main-c .section2 .s3-a3 span:first-child {
	background-image: url(../image/s3-p3.jpg)
}

#main .wjh1 .s3-a1 span:first-child i:first-child,
#main-c .section2 .s3-a1 span:first-child i:first-child {
	position: relative;
	z-index: 3;
	background-image: url(../image/s3-c1.png)
}

#main .wjh1 .s3-a2 span:first-child i:first-child,
#main-c .section2 .s3-a2 span:first-child i:first-child {
	position: relative;
	z-index: 3;
	background-image: url(../image/s3-c2.png)
}

#main .wjh1 .s3-a3 span:first-child i:first-child,
#main-c .section2 .s3-a3 span:first-child i:first-child {
	position: relative;
	z-index: 3;
	background-image: url(../image/s3-c3.png)
}

#main .wjh1 .s3-a:hover>span:first-child .i-bg,
#main-c .section2 .s3-a:hover>span:first-child .i-bg {
	opacity: .5;
	filter: alpha(opacity=50)
}

.btn-c {
	width: 229px;
	height: 69px;
	border: 1px solid #0084ce;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: 0;
	color: #0084ce;
	white-space: nowrap;
	font-size: 18px;
	line-height: 69px;
	cursor: pointer;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
	display: inline-block;
	text-align: center;
	margin: 56px 0 81px;
}

.wjh2 {
	height: 590px;
	overflow: hidden;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#main .wjh2 .div-circle-p .i1 {
	background: url(../image/s-p1.png);
}

#main .wjh2 .div-circle-p .i2 {
	background: url(../image/s-p2.png);
}

#main .wjh2 .div-circle-p .i3 {
	background: url(../image/s-p3.png);
}

#main .wjh2 .div-circle-p i {
	display: inline-block;
	padding: 10px;
	width: 192px;
	height: 192px;
	line-height: 192px;
}

#main .wjh2 .div-circle-p:hover>.i1>i {
	background: url(../image/s-p1-h.png);
	opacity: 1;
}

#main .wjh2 .div-circle-p:hover>.i2>i {
	background: url(../image/s-p2-h.png);
	opacity: 1;
}

#main .wjh2 .div-circle-p:hover>.i3>i {
	background: url(../image/s-p3-h.png);
	opacity: 1;
}

#main .wjh2 .div-circle-p i i {
	width: 171px;
	height: 171px;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	filter: Alpha(opacity=0);
	-ms-transition: all .3s ease;
}

#main .wjh2 .div-circle-p i {
	display: inline-block;
	padding: 10px;
	width: 192px;
	height: 192px;
	line-height: 192px;
}

#main .wjh2 .div-circle-p p {
	margin-top: 25px;
	color: #666;
	text-align: center;
}

#main .wjh2 .btn-c {
	margin: 25px 0 85px;
	width: 163px;
	height: 38px;
	line-height: 38px;
}

.i-bg:hover {
	background: #000000;
}

.btn-b,
.btn-c:hover {
	background: #0084ce;
	color: #fff
}

.btn-c:hover {
	border: 1px solid #0084ce
}

.llh1 {
	height: 824px
}

.llh2 {
	height: 664px;
	background: #000000;
}

.wll1 {
	height: 450px;
}

.wll2 {
	height: 536px;
	background: #000000;
}

footer {
	height: 470px;
}

footer {
	height: 470px;
}

.xxk1 {
	height: 784px;
	background: #ebebeb;
}

.xxk2 {
	height: 545px;
	background: #15abe8;
}

.k-content {
	width: 1170px;
	;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

.k-content h2 {
	font-size: 44px;
	padding: 60px 0 20px;
	overflow: hidden;
}

.k-line {
	width: 41px;
	height: 3px;
	background: #0084ce;
	margin-bottom: 15px;
	display: inline-block;
}

.k-a {
	display: block;
	margin: 0 auto;
	width: 290px;
	height: 373px;
	border-radius: 10px;
	background-color: #fff;
	color: #333;
}

.k-a:hover {
	background: #fff;
}

.k-a:hover {
	text-decoration: none;
}

.k-a>i {
	width: 100%;
	height: 188px;
	display: block;
}

.xie {
	padding-bottom: 40px;
	text-align: center;
}

.i1 {
	background: url(../image/spe-s7-1.png) center no-repeat;
}

.i2 {
	background: url(../image/spe-s7-2.png) center no-repeat;
}

.i3 {
	background: url(../image/spe-s7-3.png) center no-repeat;
}

.h6-1 {
	margin-bottom: 24px;
	font-size: 22px;
	font-weight: 500;
}

.k-p {
	margin: 0 auto;
	width: 80%;
	color: #666;
	font-size: 14px;
	line-height: 22px;
}

.k-btn {
	margin: 56px 0 81px;
	width: 229px;
	height: 69px;
	border: 1px solid #0084ce;
	border-radius: 35px;
	color: #0084ce;
	white-space: nowrap;
	/*文本不换行*/
	font-size: 18px;
	line-height: 69px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.btn-c:hover {
	border: 1px solid #0084ce;
	background: #0084ce;
	color: #fff;
	text-decoration: none;
}

#main .xxk2 .s4-p {
	width: 100%;
	height: 545px;
	background: url(../image/bg4.jpg) right 0 no-repeat;
	background-size: cover;
	/*将图片等比例放在规定区域*/
	margin-left: -15px;
}

#main .xxk2 .s4-text {
	padding: 135px 85px;
	height: 545px;
	background-color: #15abe8;
	color: #fff;
	text-align: left;
	font-size: 20px;
	line-height: 42px;
}

#main .xxk2 .s4-text p:first-child {
	margin-bottom: 80px;
	letter-spacing: 1px;
	font-style: oblique;
}

#main .xxk2 .s4-text p i:first-child {
	background-image: url(../image/quo1.png);
}

#main .xxk2 .s4-text p i {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../image/quo2.png) 0 0 no-repeat;
	font-size: 67px;
}

.k-row {
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}


/*莫态框*/

#xxk-log {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1201;
	overflow: hidden;
	margin-top: -300px;
	margin-left: -235px;
	width: 470px;
	border-radius: 10px;
	box-shadow: 0 0 50px #2f2f2f;
	text-decoration: none;
}

#xxk-log .header {
	width: 100%;
	height: 130px;
	background: url(../image/log-reg-h.png) center no-repeat;
}

#xxk-log .header .lr-close {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 22px;
	color: #efefef;
	vertical-align: top;
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	line-height: 22px;
}

#xxk-log .bodyer {
	position: relative;
	padding: 30px 55px 10px;
	background: #fff;
}

#xxk-log .bodyer .tab {
	position: absolute;
	top: -39px;
	left: 50%;
	margin-left: -124px;
	text-align: center;
}

#xxk-log .bodyer .tab li {
	float: left;
	display: block;
}

#xxk-log .bodyer .tab a {
	display: block;
	margin: 0 auto;
	width: 124px;
	height: 40px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #0084ce;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

#xxk-log .bodyer .tab a.active {
	background: #fff;
	color: #0084ce;
	text-decoration: none;
}

#xxk-log .bodyer .tab a {
	display: block;
	margin: 0 auto;
	width: 124px;
	height: 40px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #0084ce;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

#xxk-log .footer {
	background: #fff;
}

#xxk-log .footer .title {
	position: relative;
	padding-bottom: 8px;
	width: 100%;
	color: #999;
	text-align: center;
	font-size: 14px;
}

#xxk-log .footer .other-log {
	padding-bottom: 8px;
	width: 100%;
	text-align: center;
}

#xxk-log .header .lr-close:hover {
	color: #d7d7d7;
	cursor: pointer;
	text-decoration: none;
}

#xxk-log .header .lr-close {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 22px;
	color: #efefef;
	vertical-align: top;
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	line-height: 22px;
}

.form-group input[type="text"] {
	padding-left: 50px;
	width: 360px;
	height: 42px;
	border: 1px solid #eee;
	border-radius: 18px;
	background: #f7f7f7;
	line-height: 42px;
}

#xxk-log form .form-group input[type="password"],
#xxk-log form .form-group input[type="text"] {
	padding-left: 50px;
	width: 360px;
	height: 42px;
	border: 1px solid #eee;
	border-radius: 18px;
	background: #f7f7f7;
	line-height: 42px;
}

.form-group input[type="text"] {
	padding-left: 50px;
	width: 360px;
	height: 42px;
	border: 1px solid #eee;
	border-radius: 18px;
	background: #f7f7f7;
	line-height: 42px;
}


/*免费试听*/

#xxk-log form .form-group .btn {
	display: block;
	padding-top: 0;
	width: 360px;
	height: 50px;
	border-radius: 20px;
	background: #0084ce;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
}


/*第三方登录*/

#xxk-log .footer .title {
	position: relative;
	padding-bottom: 8px;
	width: 100%;
	color: #999;
	text-align: center;
	font-size: 14px;
}

#xxk-log .footer .other-log {
	padding-bottom: 8px;
	width: 100%;
	text-align: center;
}


/*qq*/

#xxk-log .footer .other-log a.qq {
	background: url(../image/other-log.png) no-repeat;
}

#xxk-log .footer .other-log a {
	display: inline-block;
	width: 42px;
	height: 42px;
	transition: all 0s;
}


/*微信*/

#xxk-log .footer .other-log a.weixin {
	background: url(../image/other-log.png) -42px 0 no-repeat;
}

#xxk-log .footer .other-log a.center {
	margin: 0 24px;
}

#xxk-log .footer .other-log a {
	display: inline-block;
	width: 42px;
	height: 42px;
	transition: all 0s;
}


/*微博*/

#xxk-log .footer .other-log a.weibo {
	background: url(../image/other-log.png) -84px 0 no-repeat;
}

#xxk-log .footer .other-log a {
	display: inline-block;
	width: 42px;
	height: 42px;
	transition: all 0s;
}


/*第二个页面*/

.section {
	overflow: hidden;
}

.container {
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#main-s .section5 {
	width: 100%;
	height: 900px;
	background: url(../image/spe-s5-bg.jpg) no-repeat;
	background-size: cover;
}

#main-s .section5 h2 {
	padding: 121px 0 23px;
	color: #fff;
}

.section h2 {
	padding: 60px 0 20px;
	font-size: 44px;
	line-height: 1;
	text-align: center;
}

.llh1 {
	height: 824px
}

.llh2 {
	height: 664px;
	background: #000000;
}

header,
#main,
.zn,
.wjh1,
.wjh2,
.xxk1,
.xxk2,
.llh,
.wll1,
.wll2,
footer {
	width: 100%;
}

header {
	height: 136px;
}

#main {
	height: 5852px;
}

.lxuexi {
	text-align: center;
	padding: 60px 0px 20px;
	font-size: 44px;
	line-height: 1px;
}

.lxian {
	width: 41px;
	height: 3px;
	margin-left: 48%;
	margin-top: 25px;
	margin-bottom: 74px;
	background: #0084ce;
}

.llhren {
	width: 100%;
	height: 400px;
}

.llhz {
	width: 33%;
	height: 400px;
	float: left;
	margin-right: 0.46%;
}

.llhh {
	width: 33%;
	height: 400px;
	float: left;
	margin-right: 0.46%;
}

.llhren .llhh:last-child {
	margin-right: 0px;
}

.llh1-1 {
	width: 100%;
	height: 225px;
	background: #fff;
	position: relative;
	box-shadow: 0 15px 15px rgba(0, 0, 0, .1);
	transition: all .3s ease-in-out;
}

.llh1-1:hover {
	cursor: pointer;
	transform: translateY(-10px);
	/*transitions: all .5s ease-in-out;*/
	/*direction:alternate;*/
}

.llh1-1 p {
	width: 314px;
	height: 54px;
	line-height: 29px;
	font-size: 14px;
	color: #515151;
	margin-left: 33px;
	padding-top: 62px;
}

.llh1-1 span {
	width: 36px;
	height: 25px;
	display: block;
	position: absolute;
	bottom: -25px;
	left: 180px;
	border-color: #fff;
	border-style: solid dashed dashed;
	border-width: 25px 18px 0;
	border-left-color: transparent;
	border-right-color: transparent;
}

.kat {
	width: 112px;
	height: 135px;
	font-size: 14px;
	margin-left: 134px;
	margin-top: 14px;
	line-height: 30px;
}

.kat img {
	width: 65px;
	height: 65px;
	margin-top: 39px;
	margin-left: 25px;
}

.kat p {
	text-align: center;
}

.lliaojie {
	width: 229px;
	height: 69px;
	line-height: 69px;
	text-align: center;
	border-radius: 35px;
	font-size: 18px;
	margin-left: 38%;
	margin-top: 68px;
	color: #0084ce;
	background: 0;
	white-space: nowrap;
	border: 1px solid #0084ce;
}

.lliaojie:hover {
	color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0084ce), to(#0084ce))
}

.llh1 {
	height: 824px
}

.llh2 {
	height: 664px;
	background: url(../image/bg6.jpg);
}

.lxuexil {
	text-align: center;
	padding: 60px 0px 20px;
	font-size: 44px;
	line-height: 1px;
	color: #fff;
}

.ren2 {
	height: 250px;
	margin-top: 130px;
}

.llhzh {
	width: 340px;
	height: 400px;
	float: left;
	margin-left: 100px;
}

.llhzhz {
	width: 340px;
	height: 400px;
	float: left;
	margin-left: 50px;
}

.lzhuce {
	width: 340px;
	height: 250px;
	float: left;
	margin-left: 100px;
	position: relative;
	transition: all .3s ease-in-out;
}

.lzhucel {
	width: 340px;
	height: 250px;
	float: left;
	margin-left: 100px;
	position: relative;
	transition: all .3s ease-in-out;
}

.lzhucel:hover {
	cursor: pointer;
	transform: translateY(-10px);
}

.lzhuce:hover {
	cursor: pointer;
	transform: translateY(-10px);
}

.lkuang {
	width: 157px;
	height: 187px;
	display: block;
}

.lxiaotu {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 64px;
	left: 61px;
	overflow: hidden;
}

.lzc {
	min-width: 152px;
	height: 44px;
	border-radius: 15px;
	background: #0084ce;
	color: #fff;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	border: none;
	margin-top: 20px;
	margin-left: 10px;
}

.lxiaotu2 {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	margin-left: 61px;
	margin-top: -125px;
	overflow: hidden;
}

.lxiaotu2 img {
	position: absolute;
	top: -52px;
	left: -2px;
}

.lxiaotu3 {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	margin-left: 61px;
	margin-top: -125px;
	overflow: hidden;
}

.lxiaotu3 img {
	position: absolute;
	top: -101px;
	left: -2px;
}

.lzcc {
	min-width: 250px;
	height: 44px;
	border-radius: 15px;
	background: #0084ce;
	color: #fff;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	border: none;
	margin-top: 95px;
	margin-left: -37px;
}

.lliaojiel {
	width: 229px;
	height: 69px;
	float: left;
	line-height: 69px;
	text-align: center;
	border-radius: 35px;
	font-size: 18px;
	margin-left: 43%;
	margin-top: -100px;
	color: #fff;
	background: 0;
	white-space: nowrap;
	border: 1px solid #fff;
}

.lliaojiel:hover {
	color: #fff;
	border: none;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0084ce), to(#0084ce))
}

.wll1 {
	height: 450px;
}

.wll2 {
	height: 536px;
	background: #000000;
}

footer {
	height: 470px;
}

.wll1 {
	height: 450px;
}

.wll2 {
	height: 536px;
	background: #000000;
}

.wll1 {
	height: 450px;
}

#main .section7 {
	height: 450px;
	background: #fff;
	width: 100%;
}

.section7 {
	overflow: hidden;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-width: 1170px !important;
	width: 750px;
}

.section h2 {
	padding: 30px 0 20px;
	font-size: 44px;
	line-height: 1;
}

.section h2,
a {
	text-align: center;
}

.span-tab {
	color: #757575;
	cursor: pointer;
}

#main .section7 .tab1 {
	margin-top: 78px;
}

p,
span {
	text-align: left;
}

#main .section7 h2 i,
#main-a .section2 h2 i {
	display: inline-block;
	margin: -5px 25px;
	width: 2px;
	height: 40px;
	border-right: 1px solid #000;
}

#main .section7 .tab-active,
#main-a .section2 .tab-active,
.span-tab:hover {
	color: #000;
}

#main .section7 .s-line {
	margin-bottom: 0;
}

.section .s-line {
	margin-bottom: 53px;
}

.s-line {
	width: 41px;
	height: 3px;
	background: #0084ce;
}

.btn-c,
.s-line {
	display: inline-block;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.dy-md5-1 {
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	width: 20%;
}

#main .section7 .a1 {
	background-position: 50% 0;
}

#main .section7 .a2 {
	background-position: 50% 25%;
}

#main .section7 .a2:hover {
	background: url(../image/co2.png);
	background-repeat: no-repeat;
	background-position: 50% 25%;
}

#main .section7 .a3 {
	background-position: 50% 50%;
}

#main .section7 .a3:hover {
	background: url(../image/co2.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#main .section7 .a4 {
	background-position: 50% 75%;
}

#main .section7 .a4:hover {
	background: url(../image/co2.png);
	background-repeat: no-repeat;
	background-position: 50% 75%;
}

#main .section7 .a5 {
	background-position: 50% 100%;
}

#main .section7 .a5:hover {
	background: url(../image/co2.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

#main .section7 .a-c {
	display: inline-block;
	width: 215px;
	height: 78px;
	background-image: url(../image/co1.png);
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-ms-transition: all .3s ease;
}

#main .section7 .a1 {
	background-position: 50% 0;
}

#main .section7 .a1:hover {
	background: url(../image/co2.png);
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-4 {
	width: 33.33333333%;
}

.div-m a {
	text-decoration: none;
	cursor: pointer;
}

#main .section7 .div-m {
	margin-bottom: 25px;
	text-align: left;
}

#main .section7 .tab-active,
#main-a .section2 .tab-active,
.span-tab:hover {
	color: #000;
}

#main .section7 .div-m1 a {
	background: url(../image/h1.png) 0 50% no-repeat;
}

#main .section7 .div-m2 a {
	background: url(../image/h2.png) 0 50% no-repeat;
}

#main .section7 .div-m3,
#main .section7 .div-m6 {
	margin-left: -20px;
}

#main .section7 .div-m3 a {
	background: url(../image/h3.png) 0 50% no-repeat;
}

#main .section7 .div-m4 a {
	background: url(../image/h4.png) 0 50% no-repeat;
}

#main .section7 .div-m5 a {
	background: url(../image/h5.png) 0 50% no-repeat;
}

#main .section7 .div-m6 a {
	background: url(../image/h6.png) 0 50% no-repeat;
}

#main .section7 .div-m7 a {
	background: url(../image/h7.png) 0 50% no-repeat;
}

#main .section7 .div-m a {
	display: inline-block;
	padding-left: 66px;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
}

.section h2,
a {
	text-align: center;
}

#main .section7 .div-m2,
#main .section7 .div-m5 {
	margin-left: 20px;
}

#main .section7 .div-m {
	margin-bottom: 25px;
	text-align: left;
}

.div-m a span {
	font-size: 16px;
}

#main .section7 .div-m a span {
	display: inline-block;
	color: #666;
	font-size: 16px;
	line-height: 24px;
}

.wll2 {
	height: 536px;
}

#main .section8 {
	background-color: #ebebeb;
	height: 536px;
	width: 100%;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-width: 1170px !important;
}

.section,
.section1 ul> li {
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-3 {
	width: 25%;
}

#main .section8 .co-name {
	overflow: hidden;
	width: 266px;
	height: 145px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-transition: all .5s ease;
}

.section .btn-c {
	margin: 56px 0 81px;
}

.btn-c {
	width: 229px;
	height: 69px;
	border: 1px solid #0084ce;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: 0;
	color: #0084ce;
	font-weight: bold;
	white-space: nowrap;
	font-size: 18px;
	line-height: 69px;
	cursor: pointer;
	-ms-border-radius: 35px;
	-o-border-radius: 35px;
}

.btn-c:hover {
	background: #0084CE;
	color: white;
}

.btn-c,
.s-line {
	display: inline-block;
}

.btn-c,
.section {
	text-align: center;
}

.col-xs-3-1 {
	display: block;
	width: 266px;
	height: 145px;
	float: left;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
	border-radius: 3%;
}

.col-xs-3-1:hover {
	background: #0084ce;
	;
}

.yuan1 {
	position: absolute;
	left: -258px;
	top: 0px;
	z-index: 3;
}

.yuan1:hover {
	z-index: 1;
}

.ji1 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
}

.col-xs-3-2 {
	display: block;
	width: 266px;
	height: 145px;
	float: left;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
	border-radius: 3%;
	margin-left: 10px;
}

.col-xs-3-2:hover {
	background: #0084ce;
	;
}

.yuan2 {
	position: absolute;
	left: -258px;
	top: -140px;
	z-index: 3;
}

.yuan2:hover {
	z-index: 1;
}

.ji2 {
	position: absolute;
	left: 0px;
	top: -140px;
	z-index: 2;
}

.col-xs-3-3 {
	display: block;
	width: 266px;
	height: 145px;
	float: left;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
	border-radius: 3%;
	margin-left: 10px;
}

.col-xs-3-3:hover {
	background: #0084ce;
	;
}

.yuan3 {
	position: absolute;
	left: -258px;
	top: -286px;
	z-index: 3;
}

.yuan3:hover {
	z-index: 1;
}

.ji3 {
	position: absolute;
	left: 0px;
	top: -286px;
	z-index: 2;
}

.col-xs-3-4 {
	display: block;
	width: 266px;
	height: 145px;
	float: left;
	overflow: hidden;
	position: relative;
	background: #FFFFFF;
	border-radius: 3%;
	margin-left: 10px;
}

.col-xs-3-4:hover {
	background: #0084ce;
	;
}

.yuan4 {
	position: absolute;
	left: -258px;
	top: -425px;
	z-index: 3;
}

.yuan4:hover {
	z-index: 1;
}

.ji4 {
	position: absolute;
	left: -258px;
	top: -425px;
	z-index: 2;
}

#main .section8 .co-name i:hover {
	background: #0084ce;
	opacity: 0.5;
}